name: Build and test

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        task:
          - rubocop
          - rdoc
    timeout-minutes: 5
    name: "Execute ${{ matrix.task }}"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ruby/setup-ruby@1287d2b408066abada82d5ad1c63652e758428d9
        with:
          bundler-cache: true
      - run: bundle exec rake ${{ matrix.task }}

  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix: # Use as the parameter injection
        java-version:
          - 11
        buildtools-version:
          - 35.0.1
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ruby/setup-ruby@1287d2b408066abada82d5ad1c63652e758428d9
        with:
          bundler-cache: true
      - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12
        with:
          distribution: 'corretto'
          java-version: ${{ matrix.java-version }}
      - uses: ./.github/actions/setup-buildtools
        with:
          buildtools-version: ${{ matrix.buildtools-version }}
      - run: bundle exec rake specs
