name: Build and test

on:
  pull_request:
    types:
      - opened
      - ready_for_review
      - synchronize
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task:
          - rubocop
          - rdoc
    name: "Execute ${{ matrix.task }}"
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - uses: ruby/setup-ruby@ee26e27437bde475b19a6bf8cb73c9fa658876a2
        with:
          bundler-cache: true
      - run: bundle exec rake ${{ matrix.task }}

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix: # Use as the parameter injection
        java-version:
          - 8
        buildtools-version:
          - 29.0.3
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - uses: ruby/setup-ruby@ee26e27437bde475b19a6bf8cb73c9fa658876a2
        with:
          bundler-cache: true
      - uses: actions/setup-java@b943a4ed876ec91f6d0cde2181d88d24e8e348de
        with:
          distribution: 'corretto'
          java-version: ${{ matrix.java-version }}
      - uses: ./.github/actions/setup-buildtools
        with:
          buildtools-version: ${{ matrix.buildtools-version }}
      - run: bundle exec rake specs